/* body {
  background: #282c34;
} */

.App {
  text-align: center;
  color: black;
}

.app_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 40px;
}